.name {
    background-color: yellow;
    width: 280px;
    border-radius: 6px;
    margin: 0 auto 20px auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}